/* Correction du chargement des fonts Fontello */
@font-face {
  font-family: Fontello;
  src: url("../fonts/fontello.woff2") format("woff2"), 
       url("../fonts/fontello.woff") format("woff"),
       url("../fonts/fontello.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
